body {
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	background-color: #cccccc;
	text-align: center;
	margin: 0;
	padding: 0;
}
#container {
	position: relative;
	width: 770px;
	background-color: #993333;
	text-align: left;
	margin: auto;
	position: relative;
}
#container .leftblock {
	width: 140px;
	background-color: #802c2c;
	padding: 10px;
	float: left;
	margin-left: 10px;
}
#container .rightblock {
	position: relative;
	width: 560px;
	height: 100%;
	padding: 10px;
	float: left;
	overflow: hidden;
}
#container .leftblock .qstatlogo {
	margin-left: 10px;
}
#container .leftblock .latestdownload {
	display: block;
	background-color: #000000;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	padding-top: 7px;
	padding-right: 7px;
	padding-bottom: 7px;
	padding-left: 7px;
	margin-top: 20px;
	margin-right: 10px;
	margin-bottom: 20px;
	margin-left: 10px;
}
h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 18px;
}
#container .rightblock .quote {
	font-size: 14px;
	color: #CCCCCC;
	padding: 10px;
	background-color: #802C2C;
}
pre {
	font-size: 10px;
}

a img {
	border: 0;
}

a:link {
	color: #F9BA53;
}

ul#nav1 {
	display: block;
	margin: 0px;
	padding: 0px;
}

ul#nav1 li {
	list-style-type: none;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-top-color: #993333;
	border-right-color: #993333;
	border-bottom-color: #993333;
	border-left-color: #993333;
	padding: 5px;

}

ul#nav1 .spacer {
	height: 5px;
	border-bottom-style: none;
}

ul#nav1 a,
ul#nav1 a:visited {
	text-decoration: none;
	color: #F9BA53;
}

ul#nav1 a:hover {
	text-decoration: underline;
}

.clear {
	clear:both;
}
pre {
	font-family: "Courier New", Courier, monospace;
	font-size: 11px;
	background-color: #000000;
	padding: 5px;
	border: 1px solid #EBBA49;
	white-space: normal;
}
