<HTML>$HTML
<HEAD>
<TITLE>broccoli Quake 2 servers</TITLE>
<meta http-equiv="Pragma" content="no-cache">
</HEAD>

<BODY bgcolor=black text=white link=#ccffff vlink=#90e0e0>

<H1>broccoli Quake 2 servers</H1>
Last update: $NOW

<blockquote>
<b>April 20</b> - Now using the latest QStat.
</blockquote>

<blockquote>
<p>I run $TOTALSERVERS servers on a Sun Ultra 60 running Solaris 2.6.
The machine has two CPUs, so performance is good even when I'm using
it for work.  <i>Enjoy!</i><br>
-- <a href="mailto:$QSTATAUTHOREMAIL">$QSTATAUTHOR</a>
</blockquote>
<p>

<TABLE cellspacing=0 cellpadding=1 border=0>
<TR bgcolor=#555555>
  <TH width=180>Server Name
  <TH width=70>Players
  <TH width=80>Map
  <TH width=90>Game
  <TH>Address
</TR>
