<HTML>
<HEAD>
<TITLE>broccoli Quake 2 servers</TITLE>
<meta http-equiv="Pragma" content="no-cache">
</HEAD>

<BODY bgcolor=black text=white link=#ccffff vlink=#90e0e0>

<H1>broccoli Quake 2 servers</H1>
Last update: Tue Mar 16 17:32:38 1999

<blockquote>
<b>Oct 13</b> - Freeze Tag 1.75a is up and running.  Got some
Expert CTF servers.  Be frag-happy.
</blockquote>

<blockquote>
<p>I run 6 servers on a Sun Ultra 60 running Solaris 2.6.
The machine has two CPUs, so performance is good even when I'm using
it for work.  <i>Enjoy!</i><br>
-- <a href="mailto:steve@activesw.com">Steve Jankowski</a>
</blockquote>
<p>

<TABLE cellspacing=0 cellpadding=1 border=0>
<TR bgcolor=#555555>
  <TH width=180>Server Name
  <TH width=70>Players
  <TH width=80>Map
  <TH width=90>Game
  <TH>Address
</TR>
<TR >
<TD>broccoli CLAN Rocket Arena 2.20
<TD align=center>0/12
<TD>ra2map3
<TD>arena
<TD>199.2.18.4:27920

<tr><td>&nbsp;</td>
<TR bgcolor=#603030>
<TD>broccoli Rocket Arena 2.20
<TD align=center>12/12
<TD>ra2map3
<TD>arena
<TD>199.2.18.4:27930

<tr><td>
<TR bgcolor=#603030>
<TD colspan=6><TABLE cellpadding=1 border=0 cellspacing=0 width=45%>
  <TR bgcolor=#555555>
  <TH width=10 bgcolor=#603030>&nbsp;</TH>
  <TH width=110>Player Name</TH>
  <TH width=40 align=right>Frags</TH>
  <TH width=40 align=right>Ping</TH>
  <TH>&nbsp;</TH>
<TR>
<TD >&nbsp;</TD>
<TD >Humantarget</TD>
<TD align=right >9</TD>
<TD align=right >371</TD>
<TR>
<TD >&nbsp;</TD>
<TD >{DtD}Bikt</TD>
<TD align=right >16</TD>
<TD align=right >94</TD>
<TR>
<TD >&nbsp;</TD>
<TD >-=Sushi=-</TD>
<TD align=right >17</TD>
<TD align=right >69</TD>
<TR>
<TD >&nbsp;</TD>
<TD >Pikachu</TD>
<TD align=right >3</TD>
<TD align=right >105</TD>
<TR>
<TD >&nbsp;</TD>
<TD >[ti]ViCiOusBLuD</TD>
<TD align=right >20</TD>
<TD align=right >259</TD>
<TR>
<TD >&nbsp;</TD>
<TD >AlphaDragon</TD>
<TD align=right >1</TD>
<TD align=right >185</TD>
<TR>
<TD >&nbsp;</TD>
<TD >[ti]IlluSioN</TD>
<TD align=right >11</TD>
<TD align=right >181</TD>
<TR>
<TD >&nbsp;</TD>
<TD >Bob</TD>
<TD align=right >10</TD>
<TD align=right >233</TD>
<TR>
<TD >&nbsp;</TD>
<TD >avioletfluid</TD>
<TD align=right >2</TD>
<TD align=right >74</TD>
<TR>
<TD >&nbsp;</TD>
<TD >Nam</TD>
<TD align=right >1</TD>
<TD align=right >90</TD>
<TR>
<TD >&nbsp;</TD>
<TD >TheDoc=MOP=</TD>
<TD align=right >12</TD>
<TD align=right >96</TD>
<TR>
<TD >&nbsp;</TD>
<TD >y2k</TD>
<TD align=right >21</TD>
<TD align=right >65</TD>

</TABLE>

<tr><td>&nbsp;</td>
<TR bgcolor=#603030>
<TD>Clan -X2- Expert CTF 3.1
<TD align=center>5/12
<TD>lfctf1
<TD>ctf
<TD>199.2.18.4:27960

<tr><td>
<TR bgcolor=#603030>
<TD colspan=6><TABLE cellpadding=1 border=0 cellspacing=0 width=45%>
  <TR bgcolor=#555555>
  <TH width=10 bgcolor=#603030>&nbsp;</TH>
  <TH width=110>Player Name</TH>
  <TH width=40 align=right>Frags</TH>
  <TH width=40 align=right>Ping</TH>
  <TH>&nbsp;</TH>
<TR>
<TD >&nbsp;</TD>
<TD >SirFrag</TD>
<TD align=right >30</TD>
<TD align=right >306</TD>
<TR>
<TD >&nbsp;</TD>
<TD >Joeyjoejoe</TD>
<TD align=right >6</TD>
<TD align=right >359</TD>
<TR>
<TD >&nbsp;</TD>
<TD >BliZzSTriKe</TD>
<TD align=right >0</TD>
<TD align=right >278</TD>
<TR>
<TD >&nbsp;</TD>
<TD >-Nodib-</TD>
<TD align=right >0</TD>
<TD align=right >303</TD>
<TR>
<TD >&nbsp;</TD>
<TD >De Ablow U Away</TD>
<TD align=right >0</TD>
<TD align=right >93</TD>

</TABLE>

<tr><td>&nbsp;</td>
<TR bgcolor=#603030>
<TD>broccoli Expert CTF 3.1
<TD align=center>12/12
<TD>lfctf1
<TD>ctf
<TD>199.2.18.4:27950

<tr><td>
<TR bgcolor=#603030>
<TD colspan=6><TABLE cellpadding=1 border=0 cellspacing=0 width=45%>
  <TR bgcolor=#555555>
  <TH width=10 bgcolor=#603030>&nbsp;</TH>
  <TH width=110>Player Name</TH>
  <TH width=40 align=right>Frags</TH>
  <TH width=40 align=right>Ping</TH>
  <TH>&nbsp;</TH>
<TR>
<TD >&nbsp;</TD>
<TD >Grym[k4s]</TD>
<TD align=right >44</TD>
<TD align=right >353</TD>
<TR>
<TD >&nbsp;</TD>
<TD >mr pickle</TD>
<TD align=right >19</TD>
<TD align=right >0</TD>
<TR>
<TD >&nbsp;</TD>
<TD >HomerJ</TD>
<TD align=right >36</TD>
<TD align=right >264</TD>
<TR>
<TD >&nbsp;</TD>
<TD >Wood-X2-</TD>
<TD align=right >104</TD>
<TD align=right >159</TD>
<TR>
<TD >&nbsp;</TD>
<TD >Space Coyote</TD>
<TD align=right >30</TD>
<TD align=right >389</TD>
<TR>
<TD >&nbsp;</TD>
<TD >[XMI]LOCKEY</TD>
<TD align=right >23</TD>
<TD align=right >144</TD>
<TR>
<TD >&nbsp;</TD>
<TD >[K4S]BloodyWaste</TD>
<TD align=right >92</TD>
<TD align=right >308</TD>
<TR>
<TD >&nbsp;</TD>
<TD >bub</TD>
<TD align=right >38</TD>
<TD align=right >87</TD>
<TR>
<TD >&nbsp;</TD>
<TD >Tractor</TD>
<TD align=right >84</TD>
<TD align=right >130</TD>
<TR>
<TD >&nbsp;</TD>
<TD >FlatlineR</TD>
<TD align=right >33</TD>
<TD align=right >308</TD>
<TR>
<TD >&nbsp;</TD>
<TD >Fukx</TD>
<TD align=right >87</TD>
<TD align=right >402</TD>
<TR>
<TD >&nbsp;</TD>
<TD >Bum</TD>
<TD align=right >83</TD>
<TD align=right >157</TD>

</TABLE>

<tr><td>&nbsp;</td>
<TR >
<TD>DOWN
<TD align=center>/
<TD>
<TD>
<TD>199.2.18.4:27910

<tr><td>&nbsp;</td>
<TR >
<TD>DOWN
<TD align=center>/
<TD>
<TD>
<TD>199.2.18.4:27940

<tr><td>&nbsp;</td>
</table>
<hr>
<p>29 players on 4 servers.
<p>Created with <a href="http://www.activesw.com/people/steve/qstat.html">QStat</a> 2.3a by 
<a href="steve@activesw.com">Steve Jankowski</a>
<br><br></body></html>
