<HTML>
<HEAD>
<TITLE>Unreal Servers</TITLE>
<meta http-equiv="Pragma" content="no-cache">
</HEAD>

<BODY bgcolor=black text=white link=#ccffff vlink=#90e0e0>

<H1>Unreal Servers</H1>
Last update: Fri Jan  7 14:22:08 2000

<blockquote>
<p>Example of Unreal support in QStat.<br>
-- <a href="mailto:steve@activesw.com">Steve Jankowski</a>
</blockquote>
<p>

<TABLE cellspacing=0 cellpadding=1 border=0>
<TR bgcolor=#555555>
  <TH width=120>Server Name
  <TH width=50>Players
  <TH width=60>Map
  <TH width=80>Game
  <TH>Address
</TR>
<TR >
<TD>DNA Games UT Server
<TD align=center>0/10
<TD>CTF-Face
<TD>CTFGame
<TD>194.46.8.19
<TD bgcolor=black>

<tr><td>&nbsp;</td>
<TR bgcolor=#603030>
<TD>N0str0m0 (darkmatch!) Bot UT ServeRv4.0
<TD align=center>1/8
<TD>CTF-Orbital
<TD>CTFGame
<TD>207.91.191.19
<TD bgcolor=black>&nbsp;<a href="mailto:">HideawaY@pcm.net</a>

<tr><td>
<TR bgcolor=#603030>
<TD colspan=4><TABLE cellpadding=1 border=0 cellspacing=0 width=90%>
  <TR bgcolor=#555555>
  <TH width=10 bgcolor=#603030>&nbsp;</TH>
  <TH width=110>Player Name</TH>
  <TH width=40 align=right>Frags</TH>
  <TH width=40 align=right>Team</TH>
  <TH width=170>Mesh</TH>
  <TH width=160>Skin</TH>
  <TH>&nbsp;</TH>
<TR>
<TD>&nbsp;</TD>
<TD>Morpheus</TD>
<TD align=right>32</TD>
<TD align=center>1</TD>
<TD align=left>Female Soldier</TD>
<TD align=left>SGirlSkins.fwar</TD>

</TABLE>

<tr><td>&nbsp;</td>
<TR bgcolor=#603030>
<TD>ProGames.net_Unreal225f
<TD align=center>3/16
<TD>Shrapnel
<TD>DeathMatch
<TD>209.83.62.21
<TD bgcolor=black>&nbsp;<a href="mailto:">Hiss@progames.net</a>

<tr><td>
<TR bgcolor=#603030>
<TD colspan=4><TABLE cellpadding=1 border=0 cellspacing=0 width=90%>
  <TR bgcolor=#555555>
  <TH width=10 bgcolor=#603030>&nbsp;</TH>
  <TH width=110>Player Name</TH>
  <TH width=40 align=right>Frags</TH>
  <TH width=40 align=right>Team</TH>
  <TH width=170>Mesh</TH>
  <TH width=160>Skin</TH>
  <TH>&nbsp;</TH>
<TR>
<TD>&nbsp;</TD>
<TD>C-KILLER</TD>
<TD align=right>0</TD>
<TD align=center>255</TD>
<TD align=left>Male3</TD>
<TD align=left>t_red</TD>
<TR>
<TD>&nbsp;</TD>
<TD>SKAGG</TD>
<TD align=right>0</TD>
<TD align=center>255</TD>
<TD align=left>Male2</TD>
<TD align=left>Ash</TD>
<TR>
<TD>&nbsp;</TD>
<TD>rainy</TD>
<TD align=right>0</TD>
<TD align=center>255</TD>
<TD align=left>Female2</TD>
<TD align=left>t_blue</TD>

</TABLE>

<tr><td>&nbsp;</td>
<TR bgcolor=#603030>
<TD>NETgames Unreal DM
<TD align=center>6/16
<TD>DM Radikus
<TD>DeathMatch
<TD>194.134.33.36
<TD bgcolor=black>&nbsp;<a href="mailto:">&lt;gamesmaster@netgames.net&gt;</a>

<tr><td>
<TR bgcolor=#603030>
<TD colspan=4><TABLE cellpadding=1 border=0 cellspacing=0 width=90%>
  <TR bgcolor=#555555>
  <TH width=10 bgcolor=#603030>&nbsp;</TH>
  <TH width=110>Player Name</TH>
  <TH width=40 align=right>Frags</TH>
  <TH width=40 align=right>Team</TH>
  <TH width=170>Mesh</TH>
  <TH width=160>Skin</TH>
  <TH>&nbsp;</TH>
<TR>
<TD>&nbsp;</TD>
<TD>Jo9</TD>
<TD align=right>0</TD>
<TD align=center>255</TD>
<TD align=left>Male3</TD>
<TD align=left>Dante</TD>
<TR>
<TD>&nbsp;</TD>
<TD>hunter</TD>
<TD align=right>1</TD>
<TD align=center>255</TD>
<TD align=left>Male3</TD>
<TD align=left>Dante</TD>
<TR>
<TD>&nbsp;</TD>
<TD>Exgre{WKYB}</TD>
<TD align=right>6</TD>
<TD align=center>255</TD>
<TD align=left>Male3</TD>
<TD align=left>Krige</TD>
<TR>
<TD>&nbsp;</TD>
<TD>[DUK]ScarFiebe</TD>
<TD align=right>24</TD>
<TD align=center>255</TD>
<TD align=left>Male1</TD>
<TD align=left>t_blue</TD>
<TR>
<TD>&nbsp;</TD>
<TD>Neo-X</TD>
<TD align=right>3</TD>
<TD align=center>255</TD>
<TD align=left>Male2</TD>
<TD align=left>t_blue</TD>
<TR>
<TD>&nbsp;</TD>
<TD>{hwp}holgi</TD>
<TD align=right>2</TD>
<TD align=center>255</TD>
<TD align=left>Female1</TD>
<TD align=left>gina</TD>

</TABLE>

<tr><td>&nbsp;</td>
<TR >
<TD>Catalyst(TM) 220 - Classic Mode
<TD align=center>0/16
<TD>DMMorbias
<TD>DeathMatch
<TD>131.211.58.90
<TD bgcolor=black>

<tr><td>&nbsp;</td>
<TR bgcolor=#603030>
<TD>TruBa Unreal   225f
<TD align=center>2/8
<TD>The Observeatory
<TD>DeathMatch
<TD>195.34.0.70
<TD bgcolor=black>&nbsp;<a href="mailto:">shurell@dialup.ptt.ru</a>

<tr><td>
<TR bgcolor=#603030>
<TD colspan=4><TABLE cellpadding=1 border=0 cellspacing=0 width=90%>
  <TR bgcolor=#555555>
  <TH width=10 bgcolor=#603030>&nbsp;</TH>
  <TH width=110>Player Name</TH>
  <TH width=40 align=right>Frags</TH>
  <TH width=40 align=right>Team</TH>
  <TH width=170>Mesh</TH>
  <TH width=160>Skin</TH>
  <TH>&nbsp;</TH>
<TR>
<TD>&nbsp;</TD>
<TD>Timur</TD>
<TD align=right>0</TD>
<TD align=center>255</TD>
<TD align=left>Male2</TD>
<TD align=left>Ash</TD>
<TR>
<TD>&nbsp;</TD>
<TD>PLAYERI</TD>
<TD align=right>2</TD>
<TD align=center>255</TD>
<TD align=left>Male1</TD>
<TD align=left>t_red</TD>

</TABLE>

<tr><td>&nbsp;</td>
<TR >
<TD>Headoff Unreal DM
<TD align=center>0/8
<TD>Elsinore
<TD>DeathMatch
<TD>195.138.135.125
<TD bgcolor=black>&nbsp;<a href="mailto:">Headoff@headoff.com</a>

<tr><td>&nbsp;</td>
<TR bgcolor=#603030>
<TD>=PDC= BLOODBATH DM =PDC= (Cable)
<TD align=center>1/13
<TD>DM-Tempest
<TD>DeathMatchPlus
<TD>24.0.241.31
<TD bgcolor=black>&nbsp;<a href="mailto:">Laithan@home.com</a>

<tr><td>
<TR bgcolor=#603030>
<TD colspan=4><TABLE cellpadding=1 border=0 cellspacing=0 width=90%>
  <TR bgcolor=#555555>
  <TH width=10 bgcolor=#603030>&nbsp;</TH>
  <TH width=110>Player Name</TH>
  <TH width=40 align=right>Frags</TH>
  <TH width=40 align=right>Team</TH>
  <TH width=170>Mesh</TH>
  <TH width=160>Skin</TH>
  <TH>&nbsp;</TH>
<TR>
<TD>&nbsp;</TD>
<TD>PDC_KILROY</TD>
<TD align=right>26</TD>
<TD align=center>255</TD>
<TD align=left>Female Commando</TD>
<TD align=left>FCommandoSkins.daco</TD>

</TABLE>

<tr><td>&nbsp;</td>
<TR >
<TD>6PATKu UT Server
<TD align=center>0/8
<TD>DM-Ariza][
<TD>DeathMatchPlus
<TD>195.131.7.82
<TD bgcolor=black>&nbsp;<a href="mailto:">cyka@mail.ru</a>

<tr><td>&nbsp;</td>
<TR >
<TD>Porky Pigsty 2on2
<TD align=center>0/4
<TD>Curse
<TD>Team Stats
<TD>130.237.159.231
<TD bgcolor=black>&nbsp;<a href="mailto:">porkflute@usa.net</a>

<tr><td>&nbsp;</td>
<TR bgcolor=#603030>
<TD>House of Drengy (402)
<TD align=center>4/9
<TD>DM-Grinder
<TD>TeamGamePlus
<TD>209.3.235.226
<TD bgcolor=black>&nbsp;<a href="mailto:">lee@partnersandsimons.com</a>

<tr><td>
<TR bgcolor=#603030>
<TD colspan=4><TABLE cellpadding=1 border=0 cellspacing=0 width=90%>
  <TR bgcolor=#555555>
  <TH width=10 bgcolor=#603030>&nbsp;</TH>
  <TH width=110>Player Name</TH>
  <TH width=40 align=right>Frags</TH>
  <TH width=40 align=right>Team</TH>
  <TH width=170>Mesh</TH>
  <TH width=160>Skin</TH>
  <TH>&nbsp;</TH>
<TR>
<TD>&nbsp;</TD>
<TD>Mystical</TD>
<TD align=right>5</TD>
<TD align=center>1</TD>
<TD align=left>Boss</TD>
<TD align=left>BossSkins.boss</TD>
<TR>
<TD>&nbsp;</TD>
<TD>Negid</TD>
<TD align=right>2</TD>
<TD align=center>2</TD>
<TD align=left>Male Soldier</TD>
<TD align=left>SoldierSkins.Blkt</TD>
<TR>
<TD>&nbsp;</TD>
<TD>Zymurgy</TD>
<TD align=right>8</TD>
<TD align=center>0</TD>
<TD align=left>Male Commando</TD>
<TD align=left>CommandoSkins.cmdo</TD>
<TR>
<TD>&nbsp;</TD>
<TD>Tread</TD>
<TD align=right>0</TD>
<TD align=center>0</TD>
<TD align=left>Male Soldier</TD>
<TD align=left>SoldierSkins.sldr</TD>

</TABLE>

<tr><td>&nbsp;</td>
<TR >
<TD>DOWN
<TD align=center>/
<TD>
<TD>
<TD>209.73.18.7
<TD bgcolor=black>

<tr><td>&nbsp;</td>
<TR >
<TD>DOWN
<TD align=center>/
<TD>
<TD>
<TD>192.220.23.57
<TD bgcolor=black>

<tr><td>&nbsp;</td>
<TR >
<TD>TIMEOUT
<TD align=center>/
<TD>
<TD>
<TD>130.230.57.91
<TD bgcolor=black>

<tr><td>&nbsp;</td>
<TR >
<TD>DOWN
<TD align=center>/
<TD>
<TD>
<TD>207.91.191.27
<TD bgcolor=black>

<tr><td>&nbsp;</td>
<TR >
<TD>TIMEOUT
<TD align=center>/
<TD>
<TD>
<TD>200.16.194.3
<TD bgcolor=black>&nbsp;<a href="mailto:">unreal@copetel.com.ar</a>

<tr><td>&nbsp;</td>
</table>
<hr>
<p>17 players on 11 servers.
<p>Created with <a href="http://www.activesw.com/people/steve/qstat.html">QStat</a> 2.3e BETA by 
<a href="steve@activesw.com">Steve Jankowski</a>
<br><br></body></html>
